body{
    background-color: #404041;
}
h1{
    padding-top: 10px;
    text-align: center;
    color: #E6C174;
    text-shadow: 1px 1px 2px grey;
    font-family: 'Times New Roman', serif;
}
.box{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 80px;
    row-gap: 100px;
    column-gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
.Boxes{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.571);
    height: 350px;
    width: 290px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: -40px;
    background-color: #F6EDE3;
}
.amount{
    font-size: 40px;
    color: #dea62c;
}
.offer{
    font-size: 20px;
    font-weight: bold;
}
.discription{
    color: rgba(128, 128, 128, 0.932);
}
.tick{
    height: 20px;
}
.benefits{
    text-align: left;
    padding-left: 60px;
}
#tt{
    background-color: rgba(59, 53, 17, 0.142);
}
.Register{
    position: relative;
    height: 30;
    background-color: #E6C174;
    color: #F6EDE3;
    border: none;
    border-radius: 4px;
    min-height: 30px;
    min-width: 150px;
    cursor: pointer;
    padding-top: 0px;
    font-family: Garamond, serif;
}
.Register:after{
    content: ">>";
    position: absolute;
    opacity: 0;  
    bottom: 8px;
    right: -20px;
    transition: 0.5s;
}
.Register:hover{
    padding-right: 20px;
}
.Register:hover:after{
  opacity: 1;
  right: 10px;
}
hr{
    text-align: center;
    width: 650px;
    height: 5px;
    border: none;
    background-color: #E6C174;
    border-radius: 2px;
}
.image{
    margin-bottom: 10px;
    margin-top: -120px;
}
#img{
    background-color: #F6EDE3;
    border-radius: 50%;
    border: 4px solid rgba(99, 99, 99, 0.331);
    height: 100px;
    width: 100px;
}
.Boxes:hover{
    transform: perspective(100px) translateZ(10px);
}