<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Make a new comment</h1>
    <form action="/comments" method="post">
        <label for="username">Enter Username:</label>
        <input type="text" id="username" placeholder="username" name="username">
        <br>
        <label for="comment">Comment Text</label>
        <br>
        <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
        <br>
        <button>Submit</button>
    </form>
    <a href="/comments">back to comments</a>
</body>
</html>