<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Browsing the <%= data.name %> subreddit</h1>
    <h2><%= data.subscriber %></h2>
    <% for(let posts of data.posts) { %>
        <article>
            <h3><%= posts.title %> - <b><%= posts.author %></b></h3>
        </article>
    <% } %>
</body>
</html>